# Maybe revisit DeprecatedOrUnsafeBufferHandling later
Checks: >
  readability-*, 
  modernize-*,
  bugprone-*,
  performance-*,
  misc-*,
  -cppcoreguidelines-*,
  -modernize-use-trailing-return-type, 
  -modernize-avoid-c-arrays, 
  -modernize-pass-by-value,
  -readability-braces-around-statements,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
CheckOptions:
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: '^p|q$'
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^fd|fp$'
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^fd|n|p|q|st|tm|tz$'
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
# Ignore specific macros used for STC type declarations
  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: '^i_(keyclass|keypro|type|val)$'
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
