# autotools outputs
autom4te.cache
aclocal.m4
build-aux
config.h
config.h.in
config.h.in~
config.log
config.status
configure
stamp-h1
Makefile.in
Makefile

*/Makefile.in
*/Makefile

# build outputs
*/*.o
*/*.lo
.deps
.dirstamp
.libs
asdf
libasdf.la
libtool
m4/libtool.m4
m4/lt*.m4
src/.libs

# test outputs
tests/*.log
tests/*.trs
tests/tmp

# dist outputs
*.tar.gz

# distcheck outputs
libasdf-*/
