[submodule "asdf-standard"]
	path = asdf-standard
	url = https://github.com/asdf-format/asdf-standard.git
[submodule "tests/munit"]
	path = tests/munit
	url = https://github.com/nemequ/munit.git
[submodule "third_party/STC"]
	path = third_party/STC
	url = https://github.com/stclib/STC.git
